.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);

    height: 100vh;
    width: 100%;
    z-index: 10;
}

.auth-container h2 {
    font-size: 1.6rem;
}

.auth-container span {
    font-size: 0.9rem;
    color: #404040;
}



.auth-container form {
    border: 1px solid #ccc;
    height: 500px;
    width: 700px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;

}

.input-auth .input {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.input-auth .input input {
    width: 200px;
    height: 25px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
}

.input-auth {
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.input-auth .error-input {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    align-self: center;
    display: none;
}

.input-checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.input-checkbox input {
    appearance: none;
    width: 17px;
    height: 17px;
    background-color: white;
    border-color: #ccc;
    cursor: pointer;
    border: 1px solid #444444;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.input-checkbox input:checked {
    cursor: pointer;
    background-color: #000000;
    border-color: #000000;
}

.input-checkbox input:checked::after {
    content: "✓";
    color: white;
    display: block;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

.input-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 25px;
}

.input-buttons button {
    padding: 5px 10px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    color: white;
    font-size: 0.9rem;
}

.sign-close-button{
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}